<h1>User Profile</h1>

<h3>Events Created</h3>
<% if @user.created_events.empty? %>
  <p> You haven't created an event yet</p>
<% else %>
  <ul>
    <% @user.created_events.each do |event| %>
      <li><%= event.description %></li>
    <% end %>
  </ul>
<% end %>
<h3>Events Attending</h3>
  <% if @user.attended_events.empty?  %>
    <p>You have no events to attend</p>
  <% else %>
    <ul>
      <% @user.attended_events.each do |event| %>
        <li><%= event.description %></li>
      <% end %>
    </ul>  
  <% end %>