<h1>Event</h1>

<h2>Details</h2>
<p><%= @event.description %></p>

<% unless @event.attendees.empty? %>
  <h2>Attendees</h2>
  <ul>
    <% @event.attendees.each do |attendee| %>
      <li><%= attendee.name %></li>
    <% end %>  
  </ul>
  <%= link_to 'Assist this event', attendances_path(user_id: session[:user_id], event_id: params[:id]), method: :post %>
<% end %>
